.configInput {
    width: 500px;
    height: 500px;
    margin: 10px;
    resize: none;
}

.inline-text {
    display: inline;
    padding: 5px;
}
.applyButton{
    margin-left: 450px;    
}