/* .result-item {
    width: 35%;
    margin: 10px;
    padding: 3px;
    border: 2px solid #eee;
}
.result-item > div {
    padding: 2px;
}
.result-item>div>input,
.result-item>div>textarea {
    margin-left: 150px;
} */
* {
    box-sizing: border-box;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}


.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    padding-left: 30px;
}

.col-75 {
    float: left;
    width: 70%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.result-buttons{
    display:inline-flex;
    /* float: right */
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    button {
        width: 100%;
        margin-top: 0;
    }
}